{#
/**
 * @file
 * Contains the text of the subscription_form_results page
 */
#}

{{ attach_library('subscription_form_results/results_page') }}

{% set desk_mark = '<span class="tablesort tablesort--asc"></span>' %}
{% set ask_mark = '<span class="tablesort tablesort--desc"></span>' %}

<table id="subscription_results_table" class="responsive-enabled" data-striping="1">
  <thead>
    <tr>
      <th class="name"><a href="?sort={{ header.name.link_sort }}&col=name">{{ 'Name'|trans }}{% if header.name.sort == 'ask' %}{{ ask_mark|raw }}{% endif %}{% if header.name.sort == 'desk' %}{{ desk_mark|raw }}{% endif %}</a></th>

      <th class="email"><a href="?sort={{ header.email.link_sort }}&col=email">{{ 'Email'|trans }}{% if header.email.sort == 'ask' %}{{ ask_mark|raw }}{% endif %}{% if header.email.sort == 'desk' %}{{ desk_mark|raw }}{% endif %}</a></th>

      <th class="cat">{{ 'Category'|trans }}</th>

      <th class="date"><a href="?sort={{ header.date.link_sort }}&col=date">{{ 'Subscripton date'|trans }}{% if header.date.sort == 'ask' %}{{ ask_mark|raw }}{% endif %}{% if header.date.sort == 'desk' %}{{ desk_mark|raw }}{% endif %}</a></th>

      <th class="cat">{{ 'Actions'|trans }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr class="{{ cycle(['odd', 'even'], loop.index0) }} row_item {{ row.id }}" data-id="{{ row.id }}">
        <td class="name_cel">{{ row.name }}</td>
        <td class="email_cel">{{ row.email }}</td>
        <td>{{ row.cat }}</td>
        <td>{{ row.date }}</td>
        <td><a href="delete_row/{{row.id}}?sort={{ query_vars.sort }}&col={{ query_vars.sort_col }}">Delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
