h1.page-title {
  color:#14a37f;
  margin:0px auto;
  width:800px;
  max-width:100%;
}

#test-task-subscription-form {
  margin:0px auto;
  width:800px;
  max-width:100%;
}

#test-task-subscription-form input[type=text],
#test-task-subscription-form input[type=email],
#test-task-subscription-form select {
  max-width:100%;
  width: 650px;
}

#test-task-subscription-form input[type=submit] {
  max-width:100%;
  width: 650px;
}

#test-task-subscription-form label,
#test-task-subscription-form span.fieldset-legend {
  color:#14a37f;
}

#test-task-subscription-form .form-radios .form-item {
  width:200px;
  height:300px;
  margin-right:30px;
  margin-bottom:15px;
  margin-top:30px;
  float:left;
  position:relative;
}

#test-task-subscription-form .form-radios .form-item:nth-child(1) {
  background:url("../img/template1.png") center center no-repeat;
  background-size: cover;
}

#test-task-subscription-form .form-radios .form-item:nth-child(2) {
  background:url("../img/template2.png") center center no-repeat;
  background-size: cover;
}

#test-task-subscription-form .form-radios .form-item:nth-child(3) {
  background:url("../img/template3.png") center center no-repeat;
  background-size: cover;
}

#test-task-subscription-form .form-radios .form-item label{
  display: block;
  position: absolute;
  width: 200px;
  height: 325px;
  top: -20px;
  left: -10px;
  padding-left:10px;
}

#test-task-subscription-form .form-radios .form-item input{
  display:none;
}

#test-task-subscription-form .form-radios .form-item input[type="radio"]:checked+label {
  border:1px solid #2196f3;
  color:#2196f3;
}

div.description {
  clear:both;
}
